<!-- Page Content -->
<div class="container mt-5">

  <div class="row">

    <!-- Blog Entries Column -->
    <div class="col-md-8">

      <h2 class="my-4">Detail Fitur
      </h2>

      <!-- Blog Post -->
      <div class="card mb-3 col-md mt-2 bg-light fitur" *ngIf="dataSource">
        <div class="row no-gutters">
          <div class="col-md">
            <h5 class="text-center"> {{dataSource.nama}} </h5>
            <div class="card-body">
              <div class="row">
                <table class="table table-borderless">
                  <tbody>
                    <tr>
                      <th scope="row"><p class="card-text">Authors</p></th>
                      <td><p class="card-text">:</p></td>
                      <td><p class="card-text" *ngIf="dataSource.createdBy">{{dataSource.createdBy.nama}}</p></td>
                    </tr>
                    <tr>
                      <th scope="row"><p class="card-text">Deskripsi</p></th>
                      <td><p class="card-text">:</p></td>
                      <td><p class="card-text" *ngIf="dataSource.deskripsi">{{dataSource.deskripsi}}</p></td>
                    </tr>
                    <tr>
                      <th scope="row"><p class="card-text">Tipe</p></th>
                      <td><p class="card-text">:</p></td>
                      <td><p class="card-text" *ngIf="dataSource.tipeId">{{dataSource.tipeId.nama}}</p></td>
                    </tr>
                    <tr>
                      <th scope="row"><p class="card-text">Waktu Pengerjaan</p></th>
                      <td><p class="card-text">:</p></td>
                      <td><p class="card-text" *ngIf="dataSource.waktuPengerjaan">{{dataSource.waktuPengerjaan}} <span *ngIf="dataSource.waktuPengerjaan">Hari</span></p></td>
                    </tr>
                    <tr>
                      <th scope="row"><p class="card-text">Kesulitan</p></th>
                      <td><p class="card-text">:</p></td>
                      <td><p class="card-text"><mat-progress-bar class="mt-2" mode="determinate" value="{{dataSource.kesulitan * 10}}" *ngIf="dataSource.kesulitan"></mat-progress-bar></p></td>
                    </tr>
                    <tr>
                      <th scope="row"><p class="card-text">Estimasi Harga</p></th>
                      <td><p class="card-text">:</p></td>
                      <td><p class="card-text" *ngIf="dataSource.estimasiHarga">Rp. {{dataSource.estimasiHarga}}</p></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card my-4">
        <h5 class="card-header">Vote Fitur</h5>
        <div class="card-body" *ngIf="!checkVote">
          <i>Anda telah melakukan vote pada fitur ini.</i>
        </div>
        <div class="card-body" *ngIf="!currentUser">
          <i>Silakan login terlebih dahulu untuk dapat memberikan vote.</i>
        </div>
        <div class="card-body" *ngIf="checkVote && currentUser">
          <form name="form" [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Kesulitan</mat-label>
              <mat-select formControlName="kesulitan">
                <mat-option *ngFor="let index of kesulitanList" [value]="index">
                  {{ index }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="form.get('kesulitan').hasError('required')">
                  Kesulitan wajib diisi
              </mat-error>
            </mat-form-field>
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Estimasi Harga</mat-label>
              <input matInput formControlName="harga" placeholder="Harga" type="number">
              <mat-error *ngIf="form.get('harga').hasError('required')">
                Estimasi harga wajib diisi
              </mat-error>
            </mat-form-field>
            <mat-card-actions class="m-0">
              <button mat-raised-button class="mx-auto mt-1 btn btn-block" color="primary" type="submit" [disabled]="form.invalid">VOTE</button>
            </mat-card-actions>
          </form>
        </div>
      </div>

    </div>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">
      <!-- <div class="sidebar">

        <div class="card my-4">
          <h5 class="card-header">Explore Feature</h5>
          <div class="card-body">
            <ul class="list-unstyled mb-0">

              <li>
                <a href="#">Login</a>
              </li>
              <li>
                <a href="#">Landing Page</a>
              </li>
              <li>
                <a href="#">Register</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="card my-4">
          <h5 class="card-header">Your Feature</h5>
          <div class="card-body">
            <ul class="list-unstyled mb-0">
              <li class="mt-2">
                <a href="#">Login</a>
              </li>
              <li>
                <a href="#">Landing Page</a>
              </li>
              <li>
                <a href="#">Register</a>
              </li>
            </ul>
          </div>
        </div>

      </div> -->
    </div>

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
