<!-- Page Content -->
<div class="container mt-5">

  <div class="row">

    <!-- Blog Entries Column -->
    <div class="col-md-8">

      <h2 class="my-4">Tambah Project
      </h2>

      <!-- Blog Post -->
      <div class="card mb-3 col-md mt-2 bg-light fitur">
        <div class="row no-gutters">
          <div class="col-md">
            <div class="card-body">
              <form>
                <div class="row">
                  <table class="table table-borderless">
                    <tbody>
                      <tr>
                        <th scope="row"><p class="card-text">Nama</p></th>
                        <td><p class="card-text">:</p></td>
                        <td>
                          <div class="form-group">
                            <input class="form-control mb-1" type="text" placeholder="Name">
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row"><p class="card-text">Gambar</p></th>
                        <td><p class="card-text">:</p></td>
                        <td>
                          <div class="form-group">
                            <svg class="bd-placeholder-img justify-items-center mb-2" width="90%" height="200" xmlns="http://www.w3.org/2000/svg" aria-label="Placeholder: Image" preserveAspectRatio="xMidYMid slice" role="img"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image</text></svg>
                            <input type="file" class="form-control-file" id="exampleFormControlFile1">
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row"><p class="card-text">Deskripsi</p></th>
                        <td><p class="card-text">:</p></td>
                        <td>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" width="100%"></textarea>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row"><p class="card-text">Tipe</p></th>
                        <td><p class="card-text">:</p></td>
                        <td>
                          <div class="form-group">
                            <select class="form-control" id="exampleFormControlSelect1">
                              <option>Company Profile</option>
                              <option>E-Commerce</option>
                              <option>Bussiness Website</option>
                              <option>Blog</option>
                              <option>Others..</option>
                            </select>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row"><p class="card-text">Budget</p></th>
                        <td><p class="card-text">:</p></td>
                        <td>
                          <div class="form-group">
                            <select class="form-control" id="exampleFormControlSelect1">
                              <option> < 1.000.000</option>
                              <option>1.000.000 - 5.000.000</option>
                              <option>5.000.000 - 10.000.000</option>
                              <option>10.000.000 - 50.000.000</option>
                              <option> > 50.000.000</option>
                            </select>
                          </div>
                        </td>
                      </tr>
                      <!-- <tr>
                        <th scope="row"><p class="card-text">Total Harga</p></th>
                        <td><p class="card-text">:</p></td>
                        <td>
                          <div class="form-group">
                            <div class="row">
                              <div class="col-8">
                                <input class="form-control" type="number">
                              </div>
                              <div class="col-4 mt-2">
                                <p class="card-text"><strong>Jam</strong></p>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr> -->
                    </tbody>
                  </table>
                </div>
                <mat-card-actions class="m-0">
                  <button mat-flat-button class="btn btn-block btn-primary">SUBMIT</button>
                </mat-card-actions>
              </form>
            </div>
          </div>
        </div>
      </div>


    </div>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">
    <div class="sidebar">

      <!-- Side Widget -->
      <div class="card my-4">
        <h5 class="card-header">Explore Feature</h5>
        <div class="card-body">
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#">Login</a>
            </li>
            <li>
              <a href="#">Landing Page</a>
            </li>
            <li>
              <a href="#">Register</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="card my-4">
        <h5 class="card-header">Your Feature</h5>
        <div class="card-body">
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#">Login</a>
            </li>
            <li>
              <a href="#">Landing Page</a>
            </li>
            <li>
              <a href="#">Register</a>
            </li>
          </ul>
        </div>
      </div>

    </div>
    </div>

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
