<!-- Page Content -->
<div class="container mt-5">

  <div class="row">

    <!-- Blog Entries Column -->
    <div class="col-md-8">

      <h2 class="my-4">Tambah Fitur
      </h2>

      <!-- Blog Post -->
      <div class="mb-3 col-md mt-2">
        <form name="form" [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Nama</mat-label>
              <input matInput formControlName="nama" placeholder="Nama">
              <mat-error *ngIf="form.get('nama').hasError('required')">
                Nama wajib diisi
              </mat-error>
            </mat-form-field>
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Deskripsi</mat-label>
              <textarea matInput formControlName="deskripsi" placeholder="Deskripsi" rows="2"></textarea>
              <mat-error *ngIf="form.get('deskripsi').hasError('required')">
                Deskripsi wajib diisi
              </mat-error>
            </mat-form-field>
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Waktu Pengerjaan</mat-label>
              <input matInput formControlName="waktuPengerjaan" placeholder="Waktu Pengerjaan" type="number">
              <mat-error *ngIf="form.get('waktuPengerjaan').hasError('required')">
                Waktu pengerjaan wajib diisi
              </mat-error>
            </mat-form-field>
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Tingkat Kesulitan</mat-label>
              <input matInput formControlName="kesulitan" placeholder="Tingkat Kesulitan" type="number">
              <mat-error *ngIf="form.get('kesulitan').hasError('required')">
                Tingkat kesulitan wajib diisi
              </mat-error>
            </mat-form-field>
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Estimasi Harga</mat-label>
              <input matInput formControlName="estimasiHarga" placeholder="Estimasi Harga" type="number">
              <mat-error *ngIf="form.get('estimasiHarga').hasError('required')">
                Estimasi harga wajib diisi
              </mat-error>
            </mat-form-field>
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Tipe</mat-label>
              <mat-select formControlName="tipeId">
                <mat-option *ngFor="let tipe of tipeList" [value]="tipe._id">
                  {{ tipe.nama }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Parent Fitur</mat-label>
              <mat-select formControlName="parent">
                <mat-option *ngFor="let fitur of fiturList" [value]="fitur._id">
                  {{ fitur.nama }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <button mat-raised-button class="mx-auto mt-1 btn btn-block" color="primary" type="submit" [disabled]="form.invalid">Simpan</button>
        </form>

      </div>


    </div>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">
    <div class="sidebar">

      <!-- Side Widget -->
      <div class="card my-4">
        <h5 class="card-header">Explore Feature</h5>
        <div class="card-body">
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#">Login</a>
            </li>
            <li>
              <a href="#">Landing Page</a>
            </li>
            <li>
              <a href="#">Register</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="card my-4">
        <h5 class="card-header">Your Feature</h5>
        <div class="card-body">
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#">Login</a>
            </li>
            <li>
              <a href="#">Landing Page</a>
            </li>
            <li>
              <a href="#">Register</a>
            </li>
          </ul>
        </div>
      </div>

    </div>
    </div>

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
