<!-- Navbar -->
<nav id="mainNavbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top shadow-sm">
  <div class="container px-3">
    <a class="navbar-brand" [routerLink]="'.'">
      Project Management
    </a>
    <button class="navbar-toggler rounded-0" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/home']" (click)="isMenuCollapsed = true">Beranda<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/fitur']" (click)="isMenuCollapsed = true">Fitur</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/project']" (click)="isMenuCollapsed = true">Project</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/about']" (click)="isMenuCollapsed = true">Tentang</a>
        </li>
        <li class="nav-item">
          <span class="nav-link"> | </span>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/daftar']" (click)="isMenuCollapsed = true">Daftar</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/login']" (click)="isMenuCollapsed = true">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
