<!-- Page Content -->
  <div class="container mt-5">

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">

        <h2 class="my-4">Explore Fitur
        </h2>

        <!-- Blog Post -->
        <div class="card mb-3 col-md mt-2 bg-light fitur" *ngIf="!countDataSearch">
          <i>Fitur tidak ditemukan</i>
        </div>
        <div class="w-100 d-flex justify-content-center m-5" *ngIf="isLoadingResults">
          <mat-spinner></mat-spinner>
        </div>
        <div class="card mb-3 col-md mt-2 bg-light fitur" *ngFor="let item of dataSource">
          <div class="row no-gutters">
            <div class="col-md-10">
              <div class="card-body">
                <a [routerLink]="['/fitur/detail', item._id]">
                  <h5 class="" *ngIf="item.nama"> {{item.nama}} </h5>
                </a>
                <mat-card-subtitle class="mb-1" *ngIf="item.createdBy">{{item.createdBy.nama}}</mat-card-subtitle>
                <p class="card-text" *ngIf="item.deskripsi">{{item.deskripsi | truncate : 150 : '...'}}</p>
              </div>
            </div>
            <div class="col-md-2 my-auto border-left pl-3">
              <label for="progress">Difficulty {{ item.kesulitan * 10 | number:'.2-2' }}%</label>
              <mat-progress-bar class="mb-3" mode="determinate" *ngIf="item.kesulitan" value="{{item.kesulitan * 10}}"></mat-progress-bar>
                <h6 class="" *ngIf="item.estimasiHarga">Rp.  {{item.estimasiHarga | number:'.2-2'}} </h6>
                <!-- <mat-card-actions class="m-0">
                  <button mat-flat-button class="btn-block btn-success">VOTE</button>
                </mat-card-actions> -->
            </div>
          </div>
        </div>
        <mat-paginator [length]="resultsLength" [pageSize]="limit" [pageSizeOptions]="pageSizeOpts"></mat-paginator>
      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">
      <div class="sidebar">
        <!-- Search Widget -->
        <div class="card my-4">
          <h5 class="card-header">Pencarian</h5>
          <div class="card-body">
            <div class="input-group">
              <form [formGroup]="searchForm" class="w-100">
                  <input formControlName="search" autocomplete="off" type="text" class="form-control" placeholder="Masukkan kata kunci pencarian...">
              </form>
            </div>
          </div>
        </div>

        <!-- Side Widget -->
        <div class="card my-4" *ngIf="currentUser">
          <h5 class="card-header">Fitur Saya</h5>
          <div class="card-body">
            <ul class="list-unstyled mb-0">
              <li>
                <mat-card-actions class="m-0">
                  <a [routerLink]="['/fitur-action']"><button mat-flat-button class="btn-block btn-primary">Tambah Fitur</button></a>
                </mat-card-actions>
              </li>
              <hr/>
              <li *ngFor="let item of fiturSaya">
                <a [routerLink]="['/fitur/detail', item._id]">
                  {{item.nama}}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
