<section class="howto" id="howto">
  <div class="container">

    <div class="text-center">
      <h2>How to submit?</h2>
      <p class="">Follow this instruction</p>
    </div>

    <!-- About Section Content -->
    <div class="row">
      <div class="col-lg-5 ml-auto">
        <img src="../../../assets/browser-svgrepo-com.svg" alt class="d-block width-fit mb-4 img-fluid">
      </div>
      <div class="col-lg-5 mr-auto mt-4">
        <h5 class="mb-1">
          Say hello to our new GitHub for mobile experience
        </h5>
        <p class="text-gray mb-3 mb-md-5">get more from GitHub Actions and Packages, and learn how we’re shaping the future of software, together.</p>
        <h5 class="mb-1">
          Say hello to our new GitHub for mobile experience
        </h5>
        <p class="text-gray mb-3 mb-md-5">get more from GitHub Actions and Packages, and learn how we’re shaping the future of software, together.</p>
        <h5 class="mb-1">
          Say hello to our new GitHub for mobile experience
        </h5>
        <p class="text-gray mb-3 mb-md-5">get more from GitHub Actions and Packages, and learn how we’re shaping the future of software, together.</p>
      </div>
    </div>

    <!-- About Section Button -->
  </div>
</section>
