<div class="m-4">
  <div class="bg-white w-100 p-4 shadow">
    <h4>Pengguna</h4>
    <hr>
    <button mat-raised-button color="primary" (click)="add()">Tambah Pengguna</button>
    <table mat-table [dataSource]="dataSource" class="w-100 backend-table">
      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef> No </th>
        <td mat-cell *matCellDef="let element; let i = index"> {{ i + 1 }} </td>
      </ng-container>
      <ng-container matColumnDef="nama">
        <th mat-header-cell *matHeaderCellDef> Nama </th>
        <td mat-cell class="cols" *matCellDef="let element"> {{element.nama}} </td>
      </ng-container>
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef> Username </th>
        <td mat-cell class="cols" *matCellDef="let element"> {{element.username}} </td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell class="cols" *matCellDef="let element"> {{element.email}} </td>
      </ng-container>
      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef> Role </th>
        <td mat-cell class="cols" *matCellDef="let element"> {{element.roleId.nama}} </td>
      </ng-container>
      <ng-container matColumnDef="organisasi">
        <th mat-header-cell *matHeaderCellDef> Organisasi </th>
        <td mat-cell class="cols" *matCellDef="let element">
          <span *ngIf="element.organizationId != null">
            {{ element.organizationId.nama }}
          </span>
          <span *ngIf="element.organizationId == null">
            -
          </span>
        </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" class="actions">
          <button mat-icon-button [matMenuTriggerFor]="actionMenu">
            <mat-icon>more_vert</mat-icon></button>
          <mat-menu #actionMenu="matMenu" xPosition="before">
            <button mat-menu-item (click)="edit(element)">
              <mat-icon>edit</mat-icon>
              <span>Sunting</span>
            </button>
            <button mat-menu-item (click)="remove(element)">
              <mat-icon>delete</mat-icon>
              <span>Hapus</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
