<div class="m-4">
  <div class="bg-white w-100 p-4 shadow">
    <h4>Project</h4>
    <hr><div class="backend-content">
      <div class="backend-loading-shade">
        <mat-icon class="text-danger">error_outline</mat-icon>
        <span class="text-danger">&nbsp;Belum tersedia</span>
      </div>
    </div>
    <!-- <button mat-raised-button color="primary">Tambah Project</button>
    <table mat-table [dataSource]="dataSource" class="w-100 backend-table">
      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef> No </th>
        <td mat-cell *matCellDef="let element; let i = index"> {{ i + 1 }} </td>
      </ng-container>
      <ng-container matColumnDef="nama">
        <th mat-header-cell *matHeaderCellDef> Nama Project </th>
        <td mat-cell class="cols" *matCellDef="let element"> {{element.nama}} </td>
      </ng-container>
      <ng-container matColumnDef="budget">
        <th mat-header-cell *matHeaderCellDef> Budget Project </th>
        <td mat-cell class="cols" *matCellDef="let element">Rp.&nbsp;{{ element.budget | number }},-</td>
      </ng-container>
      <ng-container matColumnDef="total_harga">
        <th mat-header-cell *matHeaderCellDef> Total Harga </th>
        <td mat-cell class="cols" *matCellDef="let element">Rp.&nbsp;{{element.total_harga | number}},- </td>
      </ng-container>
      <ng-container matColumnDef="fitur">
        <th mat-header-cell *matHeaderCellDef> Fitur-fitur yang digunakan </th>
        <td mat-cell class="cols" *matCellDef="let element">
          <ul *ngFor="let item of element.fitur">
            <li>{{ item }}</li>
          </ul>
        </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" class="actions">
          <button mat-icon-button [matMenuTriggerFor]="actionMenu">
            <mat-icon>more_vert</mat-icon></button>
          <mat-menu #actionMenu="matMenu" xPosition="before">
            <button mat-menu-item>
              <mat-icon>edit</mat-icon>
              <span>Sunting</span>
            </button>
            <button mat-menu-item>
              <mat-icon>delete</mat-icon>
              <span>Hapus</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table> -->
  </div>
</div>
