<div class="container mt-5">

  <div class="row">

    <div class="col-lg-3">

      <h1 class="my-4">Detail Project</h1>

      <div class="list-group">
        <a href="#" class="list-group-item">Company Profile</a>
        <a href="#" class="list-group-item">E-Commerce</a>
        <a href="#" class="list-group-item">Category 3</a>
      </div>

      <div class="card mt-3">
        <h5 class="card-header">Your Project</h5>
        <div class="card-body">
          <ul class="list-unstyled mb-0">
            <li>
              <mat-card-actions class="m-0">
                <a [routerLink]="['/project/project-action']"><button mat-flat-button class="btn-block btn-primary">Add Project</button></a>
              </mat-card-actions>
            </li>
            <li class="mt-2">
              <a href="#">Login</a>
            </li>
            <li>
              <a href="#">Landing Page</a>
            </li>
            <li>
              <a href="#">Register</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /.col-lg-3 -->

    <div class="col-lg-9">
      <div class="row">
        <div class="col-lg mb-4">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Project Six</a>
              </h4>
              <h5>$24.99</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
            </div>
            <div class="card-footer">
              <mat-card-actions class="m-0">
                <a [routerLink]="['/project/detail']"><button mat-flat-button class="btn-block btn-success">VIEW</button></a>
              </mat-card-actions>
            </div>
          </div>
        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.col-lg-9 -->

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
