<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav border-0 shadow custom-scrollbar" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar color="primary" class="shadow">Menu</mat-toolbar>
    <div class="d-flex flex-column align-items-center justify-content-center p-3 text-break text-center">
      <div class="rounded-circle bg-primary" style="width: 100px; height: 100px;"></div>
      <strong class="mt-2">{{currentUser.nama}}</strong>
      <span>{{currentUser.roleId.nama}}</span>
    </div>
    <mat-nav-list *ngFor="let menu of menus">
      <a mat-list-item *ngIf="!menu.hide" [routerLink]="menu.url" routerLinkActive="active">{{ menu.name }}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="shadow">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Project Management</span>
      <button mat-icon-button class="ml-auto" (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
