<section class="section" id="card">
<div class="container">
<div class="row justify-content-center my-5">
  <div id="text">
    <div class="col-sm my-5">
      <mat-card>
        <mat-card-title><h3 class="mt-3">See what launched at Universe</h3></mat-card-title>
        <mat-card-content>
          <p class="mb-3 lead">
            Say hello to our new GitHub for mobile experience, get more from GitHub Actions and Packages, and learn how we’re shaping the future of software, together.
          </p>
        </mat-card-content>
      </mat-card>
  </div>
  </div>
</div>
</div>
</section>
