<div class="m-4">
  <div class="bg-white w-100 p-4 shadow">
    <h4>Dashboard</h4>
    <hr>
    <div class="row w-100 m-0">
      <div class="col-3">
        <div class="px-2 py-4 border shadow rounded bg-primary">
          <div class="w-100 d-flex flex-column justify-content-center align-items-center text-white m-0">
            <h4 class="m-0">
              {{ this.userLength }}
            </h4>
            <span>Pengguna</span>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="px-2 py-4 border shadow rounded bg-success">
          <div class="w-100 d-flex flex-column justify-content-center align-items-center text-white m-0">
            <h4 class="m-0">
              {{ this.fiturLength }}
            </h4>
            <span>Fitur</span>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="px-2 py-4 border shadow rounded bg-warning">
          <div class="w-100 d-flex flex-column justify-content-center align-items-center text-white m-0">
            <h4 class="m-0">
                {{ this.voteLength }}
            </h4>
            <span>Vote</span>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="px-2 py-4 border shadow rounded bg-danger">
          <div class="w-100 d-flex flex-column justify-content-center align-items-center text-white m-0">
            <h4 class="m-0">
                {{ this.reportLength }}
            </h4>
            <span>Laporan</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
